.contact {
    background: #081B29;
    color: #FFF;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 100px;
    padding-bottom: 0
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.contact-title h2 {
    color: #FFF;
    font-size: 55px;
    padding-bottom: 3rem;
    text-transform: uppercase;
}

.contact-email {
    margin-bottom: 5rem;
    position: relative;
    display: inline-block;
}

.email-icon {
    width: 300px;
    animation: move 2s ease-in-out infinite;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #112E42;
}

.icon-top a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #0ef;
    border: .2rem solid #0ef;
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.icon-top a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #112E42;
    z-index: -1;
    transition: .5s ease;
}

.icon-top a:hover::before {
    width: 100%;
}

.icon-top a i {
    font-size: 22px;
    color: #081B29;
}

@keyframes move {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width:768px) {
    .contact {
        position: relative;
    }
    .footer {
        padding: 1rem 4%;
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    .footer-text {
        width: 73%;
        font-size: 10px;
        white-space: nowrap;
    }

    .contact-title h2 {
        font-size: 30px;
    }

    .email-icon {
        width: 250px;
    }

    .icon-top a i {
        font-size: 20px;
    }
}